@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Comic Relief";
}

/* div {
  border: 0.1px solid red;
} */

/* ---------

.start-page {
  height: 100%;
  grid-column: 1 / 3;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
}

.form-wrapper {
  display: flex;

  gap: 20px;
  margin-bottom: 20px;
}

.card {
  border-radius: 40px;
  font-size: 24px;
}

label {
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.start-game-button,
.restart-button {
  padding: 20px;
  font-size: 20px;
  border-radius: 30px;
  min-width: min-content;
  align-self: center;
}

/* --------- */

/* .game-menu.hidden {
  display: none;
} */

/* .start-page.hidden {
  display: none;
}

.restart-button.hidden {
  display: none;
} */

.restart-button {
  padding: 20px;
  font-size: 20px;
  border-radius: 30px;
  min-width: min-content;
  align-self: center;

  border-style: none;
}

.restart-button {
  margin-top: 40px;
  border: 2px solid rgb(206, 61, 61);
  font-weight: bold;
  color: rgb(206, 61, 61);
}

.hidden {
  display: none;
}

.start-page {
}

.title {
  grid-column: 1 / 3;
  font-size: 64px;
  text-align: center;
}

.container {
  height: 100%;
  display: grid;

  grid-template-rows: 100px 1fr;
}

.current-turn {
  font-size: 40px;
  margin-bottom: 40px;

  background-color: rgb(206, 61, 61);
  border-radius: 20px;
  margin-top: 20px;
  color: white;

  text-align: center;
}

.game {
  /* border: 3px solid rgb(0, 170, 179); */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game-menu {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  grid-column: 1 / 3;

  justify-items: center;
  align-items: center;
}

.title {
  padding-top: 20px;
}

.grid {
  align-self: center;
  height: 420px;
  width: 420px;
  display: grid;

  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  /* border: 2px solid var(--black); */

  border-radius: 20px;

  background-color: rgb(206, 61, 61);

  gap: 20px;
  padding: 10px;
}

.wrapper {
  border-radius: 30px;
  padding: 20px;

  background-color: rgb(206, 61, 61);
  box-shadow: inset 6px 6px 3px 2px rgba(255, 161, 161, 0.884),
    6px 6px 3px rgb(135, 35, 35);
}

.cell {
  font-size: 84px;
  text-align: center;

  background-color: #842b2b;
  box-shadow: inset 6px 6px 3px rgb(88, 17, 17),
    inset -6px -6px 3px 2px rgba(255, 147, 147, 0.884);
  border-radius: 10px;

  height: 100%;
  width: 100%;

  color: white;
}

/* .cell.corner1 {
  border-top-left-radius: 20px;
}
.cell.corner2 {
  border-top-right-radius: 20px;
}
.cell.corner3 {
  border-bottom-left-radius: 20px;
}
.cell.corner4 {
  border-bottom-right-radius: 20px;
} */

.player2Side,
.player1Side {
  font-size: 40px;
  text-align: center;
  min-width: 180px;
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: center;
  padding: 20px;

  border-radius: 40px;
  background-color: rgb(206, 61, 61);
  border: 3px solid rgb(206, 61, 61);
  box-shadow: 6px 6px rgb(135, 35, 35);

  color: white;

  margin: 20px;
}

.player2Side {
  grid-column: 3;
  grid-row: 1 / -1;
}

.player1Name,
.player2Name {
  flex: 1;
}

.player2Score,
.player1Score {
  font-size: 30px;
  flex: 2;
}

.iconify {
  color: gold;
  position: absolute;
  right: 180px;
  bottom: 94px;
  rotate: -30deg;
  font-size: 80px;
  z-index: 1;
}

.cell {
  transition-duration: 0.2s;
}
.cell:hover {
  background-color: rgba(255, 57, 57, 0.648);
}
